.titleWrap {  
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 300px;
	height: 39px;
}  
.title {
	position: absolute;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}

.fadeIn {
    animation: fadeIn 3s ease 0s 1 normal;
    -webkit-animation: fadeIn 3s ease 0s 1 normal;
}
@keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}
@-webkit-keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}